@import "../vars";
@import "../mixins";

.our-team{
  background: $green-3-color;
  position: relative;

  > img {
    position: absolute;
    &:nth-child(1) {
      left: 0;
      top: 29px;
    }
    &:nth-child(2) {
      right: 0;
      top: 26px;
    }
  }

    .our-team__wrapper {
      padding: 80px 0;
      h2 {
        color: white;
        margin-bottom: 50px;
        font-size: 30px;
      }
      ul{
        columns: 3;
        list-style: none;
        li {
          margin-right: 83px;
          div {
            margin-bottom: 15px;
            img {
              width: 24px;
              height: 24px;
            }
          }
          span{
            margin-bottom: 30px;
            display: block;
            position: relative;
            color: white;
            font-weight: 700;

            &:after {
              content: '';
              position: absolute;
              bottom: -15px;
              left: 0;
              width: 152px;
              height: 1px;
              background: $green-2-color;
            }
          }
          p{
            color: $green-2-color;
            margin-bottom: 53px;
          }
        }
      }
    }


  .our-team-bg {
    height: 525px;
    background: transparent;
  }
}