@import "../vars";

.vacancies-popup {
  opacity: 0;
  z-index: -10;
  transition: all .5s ease-out;

  .vacancies-popup__wrapper {
    opacity: 0;
    z-index: -10;
    transition: all .5s ease-out;

    .popup__form {
      form {
        label {
          &:nth-child(5) {
            font-size: 14px;
            color: #97abc9;
          }

          &:nth-child(6) {
            font-size: 14px;
            margin: 20px 0;

            span {
              margin: 3px 0;
              display: inline-block;
              width: auto;
            }
          }
        }
      }
    }
  }
}

.vacancies-popup.vacancies-popup--visible {
    opacity: 1;
    z-index: 100;

  .vacancies-popup__wrapper {
    transform: translate(0%, 0%);
    opacity: 1;
    z-index: 150;
  }
}